<div class="section-update-task">
  <div class="section-update-task__content">
    <form [formGroup]="dataUpdate" (ngSubmit)="onUpdateTask()">
      <div class="enter-subject-task form-group">
        <input class="form-control" type="text" formControlName="subject"
               [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" placeholder="Add new task"/>
        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback text-left">
          <div *ngIf="f.subject.errors.required" class="margin-top-5">Subject is required</div>
        </div>
      </div>
      <div class="enter-des-task form-group">
        <label>Description</label>
        <textarea class="form-control" rows="5" formControlName="description">
        </textarea>
      </div>
      <div class="enter-other-task">
        <div class="enter-other-task_time form-group">
          <label>Due Date</label>
          <mat-form-field appearance="fill">
            <input type="text" [min]="minDate" matInput [matDatepicker]="dp5" formControlName="dueDate" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
            <mat-datepicker #dp5 disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="enter-other-task_priority form-group">
          <label>Priority</label>
          <select formControlName="priority" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.priority.errors }">
            <option *ngFor="let item of listPriority" [value]="item.key">{{item.key | titlecase }}</option>
          </select>
        </div>
      </div>
      <div class="section-update-task__content-action">
        <button>Update</button>
      </div>
    </form>
  </div>
</div>
