.section-update-task {
  padding: 15px;
  &__content {
    label {
      display: block;
      font-size: 18px;
      font-weight: bold;
      height: 30px;
      margin-top: 25px;
    }
    .enter-subject-task {
      margin: auto;
      input {
        width: 99%;
        height: 35px;
        border-radius: 4px;
      }
    }
    .enter-des-task {
      margin: auto;
      textarea {
        width: 99%;
        border-radius: 4px;
      }
    }
    .enter-other-task {
      display: flex;
      &_time {
        width: calc((100% - 15px) / 2);
        margin-right: 15px;
        input {
          width: 99%;
          height: 35px;
        }
      }
      &_priority {
        width: calc((100% - 15px) / 2);
        select {
          width: 99%;
          height: 35px;
        }
      }
    }
    &-action {
      margin-top: 25px;
      height: 40px;
      text-align: center;
      button {
        width: 100%;
        height: 35px;
        background-color: #4cb765;
        border: 0;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
