.container-task-management {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid gray;
  &_content {
    display: flex;
    height: 100%;
    ::ng-deep app-add-task {
      width: 50%;
      .section-add-task {
        width: 100%;
      }
    }
    ::ng-deep app-list-task {
      width: 50%;
      .section-list-task {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1024px){
    width: 100%;
    border: unset;
    .container-task-management_content {
      display: block;
    }
  }
}
