.section-list-task {
  padding: 15px;
  height: 100%;
  &_title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    height: 40px;
  }
  &_search {
    height: 40px;
    input {
      width: 100%;
      height: 35px;
    }
  }
  &-content {
    height: calc(100% - 80px);
    overflow-y: auto;
    .item {
      min-height: 50px;
      border: 1px solid gray;
      margin: 5px 0;
      &-record {
        padding: 5px;
        display: flex;
      }
      &-chk {
        width: 20px;
        margin: auto;
      }
      &-title {
        padding-left: 15px;
        width: calc(100% - 220px);
        margin: auto;
      }
      &-action {
        width: 200px;
        margin: auto;
        button {
          width: calc((100% - 10px) / 2);
          height: 35px;
          border: 0;
          color: #fff;
          border-radius: 4px;
        }
        .detail {
          margin-right: 10px;
          background-color: #00bacf;
        }
        .remove {
          background-color: #da534e;
        }
      }
      .collapse {
        border-top: 1px solid gray;
      }
    }
  }
  &_alert {
    position: absolute;
    bottom: 0;
    height: 40px;
    display: flex;
    width: 500px;
    padding: 0 5px;
    margin-left: -15px;
    background-color: gray;
    .alert-noted {
      width: calc(100% - 150px);
      margin: auto;
      color: #fff;
    }
    .alert-action {
      width: 150px;
      margin: auto;
      .action-done {
        width: 70px;
        margin-right: 10px;
        background-color: #2196f3;
        height: 30px;
        border: 0;
        color: #fff;
        border-radius: 4px;
      }
      .action-remove {
        width: 70px;
        background-color: #d9534f;
        height: 30px;
        border: 0;
        color: #fff;
        border-radius: 4px;
      }
    }
  }
  @media screen and (max-width: 1024px){
    margin-top: 20px;
    border-top: 2px solid gray;
  }
}
