<div class="section-list-task">
  <div class="section-list-task_title">
    To Do Task
  </div>
  <div class="section-list-task_search">
    <input type="text" placeholder="Search..." [(ngModel)]="keySearch">
  </div>
  <div class="section-list-task-content">
    <div class="item" *ngFor="let record of listTask | filter: { subject: keySearch }">
      <div class="item-record">
        <div class="item-chk">
          <input type="checkbox" [(ngModel)]="record.completed" (change)="selectedAll(record)">
        </div>
        <div class="item-title">{{record.subject}}</div>
        <div class="item-action">
          <button class="detail"
                  (click)="onUpdateTask(record)">
            Detail
          </button>
          <button class="remove" (click)="onRemoveTask(record)">Remove</button>
        </div>
      </div>
      <div class="collapse" role="tabpanel" id="{{'expander' + record.id}}">
        <app-update-task
          [data]="{time: timestamp, data: record}">
        </app-update-task>
      </div>
    </div>
  </div>
  <div class="section-list-task_alert" *ngIf="isShowBulk">
    <div class="alert-noted">Bulk action: {{listBulk}}</div>
    <div class="alert-action">
      <button class="action-done">Done</button>
      <button class="action-remove" (click)="onRemoveAllTask()">Remove</button>
    </div>
  </div>
</div>
