/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  button:focus {
    outline: unset;
  }
  .container-snack-bar {
    background-color: darkgray;
    color: #fff;
    button {
      background-color: #4cb765;
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  mat-form-field {
    height: 35px !important;
    .mat-form-field-wrapper {
      height: 35px;
      .mat-form-field-flex {
        height: 35px;
        padding: unset;
        .mat-form-field-infix {
          border: unset;
          font-size: 18px;
          padding: 2px;
        }
      }
      .mat-form-field-suffix {
        position: absolute;
        right: 0;
      }
      .mat-form-field-underline {
        display: none;
      }
    }
    mat-label {
      display: none;
    }
    mat-datepicker-toggle {
      .mat-button-base {
        position: absolute;
        margin-left: -35px;
      }
    }
  }
}
