<div class="cmr-layout">
  <clr-main-container>
    <clr-header>
      <div class="branding">
        <a href="https://wireframepro.mockflow.com/view/Mdab887a4c13f1076aad51db6687a2c8e1593539076138#/page/3d47feb9951d457bbdc7e64b49f9f904" target="_blank" class="nav-link">
          <span class="clr-icons clr-clarity-logo"></span>
          <span class="title">SOTATEK - ĐỀ TEST ONLINE FRONT END</span>
        </a>
      </div>
    </clr-header>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </clr-main-container>
</div>
